.project-dashboard {
	height: 12rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.project-dashboard-box {
	border: 5px solid #deeec7;
	border-radius: 3px;
	height: 10rem;
	width: 10rem;
	border-radius: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.project-dashboard-box.dark-green {
	border: 5px solid #546b34;
}
.project-dashboard-box .dark-green {
	color: #546b34;
}
.project-dashboard-box.light-green {
	border: 5px solid #deeec7;
}
.project-dashboard-box .light-green {
	color: #546b34;
}

.project-dashboard-box.dark-orange {
	border: 5px solid #a87027;
}
.project-dashboard-box .dark-orange {
	color: #a87027;
}
.project-dashboard-box.light-orange {
	border: 5px solid #fde7c6;
}
.project-dashboard-box .light-orange {
	color: #a87027;
}

.project-dashboard-box-number {
	font-size: 3.5rem;
	height: 4.5rem;
}

.project-dashboard-box-sub {
	font-size: 15px;
	color: #aaa;
}
